@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Preto */
  --background-start-rgb: 255, 255, 255; /* Branco */
  --background-end-rgb: 255, 255, 255; /* Branco */
}

body {
  color: rgb(var(--foreground-rgb)); /* Texto preto */
  background-color: rgb(var(--background-start-rgb)); /* Fundo branco */
}

